#Nav_Bar {

    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 40%;
    margin-top: 0px;
    font-size: 12pt;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282c34;
    overflow: hidden;
    font-size: calc(10px + 2vmin);
    color: white;
}

#Nav_Bar>div {
    margin: 10px;
}